.header {
    display: flex;
    padding: 45px 120px;
    justify-content: space-between;
    font-weight: 600;
}

.mainLogo {
    width: 50px;
    height: 50px;
}

.headerList {
    list-style-type: none;
    display: flex;
    align-items: center;
/*    gap: 50px;*/
}

.headerItem {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    min-width: 120px;
    max-width: 150px;
    margin-right: 50px;
    height: 24px;
}

.headerItem:last-child {
    margin-right: 0;
}


.headerItem:hover {
    font-size: 20px;
}

.signIn {
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 29px 13px 66px;
    border-radius: 25px;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    background-image: url('../../../../public/img/tg.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 25px 15px;
    cursor: pointer;
}