@import "../../../mixins.scss";

$header-padding: 45px 120px;
$header-font-weight: 600;
$header-item-margin: 50px;

.header {
    display: flex;
    padding: 30px 120px 30px 25px;
    justify-content: space-between;
    font-weight: $header-font-weight;

    &List {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: -20px;
        margin-left: -25px;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 20px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
        align-items: left;
        background-color: $dark-purple;
        border-radius: 0px 0px 15px 15px;
        z-index: 5;
        /* gap: 50px; */
    }

    &Item {
        font-size: 18px;
        margin-top: 20px;
        color: $color-white;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        min-width: 120px;
        max-width: 150px;
        margin-right: $header-item-margin;
        height: 24px;

        &:last-child {
            margin-right: 0;
        }

        font-size: 18px;

        &:hover {
            font-size: 20px;
        }
    }
}

.signIn {
    border: 2px solid #fff;
    color: $color-white;
    font: inherit;
    font-size: 18px;
    padding: 14px 29px 13px 66px;
    border-radius: 25px;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    background-image: url('./tg.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 25px 50%;
    cursor: pointer;
    margin-top: 40px;
}

.mainLogo {
    width: 50px;
    height: 50px;
}


.burgerButton {
    background-color: transparent;
    z-index: 6;
    position: fixed;
    left: 100%;
    transform: translateX(-150%);
    top: 35px;
    border: none;
    color: white;
}

@include desktop {
    .header {

        padding: $header-padding;

        &List {
            flex-direction: row;
            position: relative;
            width: inherit;
            margin-left: 0;
            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
            box-shadow: none;
            top: 0;
            align-items: center;
            transform: translateY(0) !important;
            margin: 0;
        }

        &Item {
            margin-top: 0;
        }
    }

    .burgerButton {
        display: none;
    }

    .signIn {
        margin-top: 0;
    }
}
