@import "../../../variables.scss";
@import "../../../mixins.scss";

$font-weight-bold: 700;

$bg-heart-image: url('./big-heart.png');

.intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    &Block {
        position: relative;
        width: 256px;
        height: 256px;
        border-radius: 50px;
        background-color: $color-white;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 175px;
            height: 175px;
            background-image: $bg-heart-image;
            background-repeat: no-repeat;
            background-size: 100%;
            top: 431px;
            left: 112px;
        }
    }

    &Button {
        @include button-styles;
        margin-top: 20px;

        &:first-child {
            width: 100%;
        }

        &:nth-child(2) {
            width: 49%;
        }

        &:nth-child(3) {
            width: 48%;
        }
    }

    &Buttons {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;

        &Button {
            @include button-styles;
        }
    }
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.title {
    text-align: right;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #FFF;
    font-family: Montserrat;
    color: $color-white;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slogan {
    width: 276px;
    color: $color-white;
    font-size: 30px;
    text-align: center;
    font-weight: $font-weight-bold;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 25px;
}

.users {
    color: $color-white;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    width: 180px;
}

.tgButton {
    padding: 15px 16px 10px 14px;
}

.tg {
    width: 24px;
    height: 24px;
}


@include desktop {
    .intro {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;

        &Block {
            width: 500px;
            height: 500px;
        }
    }

    .titleBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        text-align: left;
    }

    .slogan {
        width: 566px;
        color: $color-white;
        font-size: 72px;
        text-align: left;
        font-weight: $font-weight-bold;
        word-wrap: break-word;
        margin: 0;
    }

    &Buttons {
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
        gap: 10px;

        &Button {
            @include button-styles;
        }
    }

    &Button {
        @include button-styles;
        margin-top: 20px;

        &:first-child {
            width: 183px !important;
        }

        &:nth-child(2) {
            width: 168px !important;
        }

        &:nth-child(3) {
            width: 60px !important;
        }
    }
}