.politics {
    max-width: 1150px;
    margin: 0 auto;
}

.politicsButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.politicsType {
    display: flex;
    gap: 25px;
    min-height: 67px;
    align-items: center;
}

.politicsTypeButton {
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 13px 29px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 54px;
}

.politicsTypeButton:hover {
    padding: 20px 34px;
    background-color: #fff;
    color: black;
    height: 67px;
}

.politicsTypeButtonActive {
    padding: 13px 29px;
    background-color: #fff;
    color: black;
    height: 54px;
}

.politicsSearch {
    padding: 15px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
}

.politicsSearchLogo {
    width: 24px;
    height: 24px;
}

.politicsBlock {
    position: relative;
    height: 420px;
    border: 2px solid #fff;
    border-radius: 25px;
    margin-top: 25px;
    overflow-y: scroll;
    z-index: 5;
}

.politicsText {
    padding: 20px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    height: 500px;
    z-index: 5;
}