@import "../../variables.scss";
@import "../../mixins.scss";

.mainStyle {
    background-image: radial-gradient(50.00% 50.00%, #9933FF 0%, #6600CC 100%);
    position: relative;
}

.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*
    .heart и .heart:hover отвечает за сдвиг
 */

.heart {
    transition: transform 0.3s; /* Добавляем плавную анимацию при изменении положения элемента */
    transform: translate(0, 0); /* Возвращаем элемент в исходное положение */
}
  
.heart:hover {
    transform: translate(10px, 10px); /* При наведении элемент отодвигается на 10px вниз и вправо */
}

.heartLittle {
    width: 66px;
    height: 66px;
    top: 100px;
    position: absolute;
    display: none;
}
  
.sticky {
    position: sticky;
    top: 0;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.toggle {
    display: none;
}

@include desktop {
    .toggle {
        display: block;
        position: fixed;
        top: 80vh;
        left: 90vw;
        color: $color-white;
        z-index: 5;
    }

    .heartLittle {
        display: block;
    }
}