@import "../../../variables.scss";
@import "../../../mixins.scss";

$font-weight-bold: 700;

.block {
    height: 2000px;
}

.intro {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    position: sticky;
    top: 25%;
    transition: 0.3s ease-in-out;

    &Block {
        position: relative;
        width: 256px;
        height: 256px;
        order: 2;
        border-radius: 50px;
        background-color: $color-white;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 175px;
            height: 175px;
            background-repeat: no-repeat;
            background-size: 100%;
            top: 431px;
            left: 112px;
        }
    }

    &Button {
        @include button-styles;
        margin-top: 20px;

        &:first-child {
            width: 100%;
        }

        &:nth-child(2) {
            width: 48%;
        }

        &:nth-child(3) {
            width: 48%;
        }
    }

    &Buttons {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;

        &Button {
            @include button-styles;
        }
    }
}

.titleBlock {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.title {
    text-align: right;
    -webkit-text-stroke: 2px $color-white;
    color: transparent;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: fadeIn 2s;
}

.text {
    width: 435px;
    color: $color-white;
    font-weight: $font-weight-bold;
    word-wrap: break-word;
    margin: 0;
    font-size: 20px;
    width: 276px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    animation: fadeIn 2s;

    &Block {
        height: 238px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.users {
    color: $color-white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
    margin: 0 auto;
}

.tgButton {
    padding: 15px 14.5px 10px 14.5px;
}

.tg {
    width: 25px;
    height: 25px;
}

.point {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 2px solid $color-white;
    border-radius: 7px;

    &:last-child {
        margin-bottom: 0;
    }

    &Active {
        border: 3px solid $color-white;
    }
}

.points {
    display: flex;
    order: 3;
    gap: 50px;
}

.description {
    order: 1;
    text-align: center;
}

@include desktop {
    .intro {
        margin-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        gap: 100px;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        position: sticky;
        top: 25%;
        transition: 0.3s ease-in-out;

        &Reverse {
            flex-direction: row;
        }

        &Block {
            width: 500px;
            height: 500px;
        }

        &Buttons {
            margin-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            padding-left: 0;
            padding-right: 0;
            gap: 10px;
    
            &Button {
                @include button-styles;
            }
        }
    
        &Button {
            @include button-styles;
            margin-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            &:first-child {
                width: 183px !important;
                height: 61px;
            }
    
            &:nth-child(2) {
                width: 63px !important;
                height: 61px;
            }
    
            &:nth-child(3) {
                width: 63px !important;
                height: 61px;
            }
        }
    }

    .points {
        flex-direction: column;
    }

    .text {
        font-size: 28px;
        width: 475px;
        margin: 0;
    }

    .description {
        text-align: left;
    }

    .users {
        display: inline;
        margin: 0;

        &Middle {
            margin-left: 22px;
        }
    }
}