@import "../../../mixins.scss";

.footer {
    margin-top: 50px;
    position: relative;
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;

    &::before {
        position: absolute;
        display: block;
        top: -1%;
        content: "";
        width: 100%;
        max-width: 1000px;
        height: 1px;
        background-color: $color-white;
    }
}

.footerMainInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footerMainInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.queInfo {
    display: flex;
    gap: 25px;
}

.Que {
    color: $color-white;
    font-size: 41px;
    font-weight: 800;
    margin: 0;
}

.queData {
    width: 200px;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigationList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.navigationTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.navigationItem {
    cursor: pointer;
}

.navigationItem a {
    display: block;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.socialFooter {
    width: 40px;
    height: 40px;
}

@include desktop {
    .footer {
        padding: 82px 228px;
        margin-top: 50px;
        position: relative;
        color: $color-white;
        font-size: 16px;
        font-weight: 500;
        word-wrap: break-word;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
    }
}