@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat.woff2') format('woff2');
}

* {
  z-index: 2;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  min-height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.disabled {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}