@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat.woff2') format('woff2');
}

* {
  z-index: 2;
  box-sizing: border-box;
}

:root {
  --color-cursor: 255, 204, 102;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}

body {
  font-family: "Montserrat", serif;
  min-height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

// html *,
// body * {
//   cursor: none !important;
// }

ul {
  list-style-type: none;
  padding: 0;
}

.disabled {
  display: none !important; 
}

a {
  text-decoration: none;
  color: inherit;
}

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: rgba(var(--color-cursor), 1);
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  background-color: rgba(var(--color-cursor), var(--cursor-outline-shade));
}
