@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat.woff2') format('woff2');
}

* {
  z-index: 2;
}

body {
  font-family: "Montserrat";
}

ul {
  list-style-type: none;
  padding: 0;
}

.disabled {
  display: none;
}