@import "variables.scss";

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-resolution) {
    @content;
  }
}

@mixin button-styles {
  font: inherit;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid $color-white;
  color: $color-white;
  padding: 15px 30px;
  border-radius: 25px;
  text-align: center;
  background-color: transparent;
  color: $color-white;
  font-size: 18px;
  cursor: inherit;
  transition: 0.3s ease;

  &:hover {
    color: $dark-purple;
    background-color: $color-white;
  }
}